.card-display-container {
  width: 70%;

  @media screen and (max-width: $tablet) {
    margin: 0rem auto;
    width: 90%;
  }

  @media screen and (max-width: $phone) {
    width: 100%;
    margin: 0;
  }

  .card-image-container {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    overflow: auto;
    padding: 1rem 2rem 2rem 2rem;

    @media screen and (max-width: 1650px) {
      width: 90%;
    }

    @media screen and (max-width: 1480px) {
      width: 100%;
    }

    @media screen and (max-width: $tabletPlus) {
      width: 100%
    }
  
    @media screen and (max-width: $tablet) {
      width: 100%;
      padding: 0;
      margin-bottom: 1rem;
    }

    .choose-message {
      font-size: 3rem;
      margin-top: 20%;
    }
  
  
    .card-image {
      width: auto;
      height: 50%;
      margin: -.8rem 0rem;
      transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
  
      @media screen and (max-width: $phone) {
        width: 45%;
        height: auto;
      }
  
      &:hover {
        transform: scale(1.2);
      }    
    }
  }
}

.pagination-div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .saved-deck-button {
    margin-top: 1rem;
  }
}